.additem{
    width: 90px;
    height: 40px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
}
.id{
    display: flex;
    gap: 20px;
justify-content: center;
margin-top: 20px;}
.id button{
    width: 80px;
    background-color: red;
    border: none;
    height: 20px;
}
